<div id="paga_content_outside">
    <div id="pagecontent" style="float:none;">
        <div id="left-container">
        	<div id="page_template_content">
            	<div id="text_content">
                	<p class="text_content_page"><span class="heading_content_page"><span class="">CONTACT US</span></span><br />
<br />
<span class="subheading2_content_page">ST KILDA FESTIVAL</span><br />
St Kilda Festival<br />
Private Bag 3<br />
PO St Kilda<br />
VIC 3182<br />
T: (03) 9209 6490<br />
E:<a href="mailto:stkildafestival@portphillip.vic.gov.au">stkildafestival@portphillip.vic.gov.au</a><br />
<br />
City of Port Phillip ASSIST<br />
T: (03) 9209 6777<br />
<br />
<span class="subheading2_content_page">MEDIA ENQUIRIES</span><br />
Wrights PR<br />
T: (03) 9694 1120<br />
E: <a href="mailto:ncreevey@wrights.com.au">ncreevey@wrights.com.au</a><br />
W: <a href="http://www.wrights.com.au">wrights.com.au</a><br />
</p>
<p><span style="font-size:11.0pt;font-family:Cambria; color:black"><span style="font-family: Cambria; color: black;"><a href="http://www.wrights.com.au/" target="_blank"></a></span></span></p>                </div>
                <div id="pic_content">
                	<div id="top_pic">
                    	<img alt="lilpic" src="../../../images/lilpic.png"/>
                    </div>
                    <div id="bottom_pic">
                    	<img alt="bigpic" src="../../../images/bigpic.png"/>
                    </div>
                </div>
            </div>
	        <div style="clear:both;"></div>
        </div>
    </div>
</div>