<div id="paga_content_outside">
    <div id="pagecontent" style="float:none;">
        <div id="left-container">
        	<div id="page_template_content">
            	<div id="text_content">
                	<p class="text_content_page"><span class="heading_content_page"><span class="">HEADING ABOUT THE FESTIVAL</span></span><br />
<br />
<span class="text">
Australia's most iconic festival is available for the first time in five years!<br/>
To find out more contact our Business Development Team: 03 9209 6488 <br/>
or email adenison@portphillip.vic.gov.au or visit: sponsoroursummer.com.au
</span>
<br/>
<br/>
<span class="subheading_content_page">SUBHEADING INTERSTED IN SPONSORING ST KILDA FESTIVAL?</span><br /><br/>
<span class="text">
The St Kilda festival is dedicated to promoting both emerging and already established Australian musicians through the staging of a premier event that provides high profile opportunities for musicians to reach new audiences. It's a celebration of Australian music for the Australian community. Taking place against the iconic backdrop of St Kilda Foreshore and Port Phillip Bay, an international tourist destination, the St Kilda Festival stands out from the pack as it the largest patronised, free music festival in the Southern Hemisphere. With no entry fee required, the St Kilda Festival attracts a broad catchment of people, all in support of Australia's new and established artists and talent. 
</span><br/><br/>
<span class="subheading2_content_page">SUBHEADING INTERSTED IN SPONSORING ST KILDA FESTIVAL?</span><br /><br/>
<span class="text">
Inclusive and free<br/>
Showcase of Australian artists and talents<br/>
Celebration of Summer<br/>
A Melbourne tradition<br/>
The Festival provides companies with access to distinct audiences and unprecedented exposure by attracting:<br/>
Over 300,000 Festival goers on Festival day alone<br/>
Approximately 20,000 attendees during Yalukit Wilam Ngargee and Live N Local<br/><br/>
The Festival provides companies with access to distinct audiences exposure.<br/><br/>
Approximately 20,000 attendees during Yalukit Wilam Ngargee and Live N LocalFor further information on existing opportunities at the St Kilda Festival please contact <br/>
our sponsorship department: <br/><br/>
Ph: +61 3 9209 6488<br/>
E: <a href="mailto:adenison@portphillip.vic.gov.au">adenison@portphillip.vic.gov.au</a>
</span><br/><br/>

</p>
<p><span style="font-size:11.0pt;font-family:Cambria; color:black"><span style="font-family: Cambria; color: black;"><a href="http://www.wrights.com.au/" target="_blank"></a></span></span></p>                </div>
                <div id="pic_content">
                	<div id="top_pic">
                    	<img alt="lilpic" src="/callfor_entries/images/lilpic.png"/>
                    </div>
                    <div id="bottom_pic">
                    	<img alt="bigpic" src="/callfor_entries/images/bigpic.png"/>
                    </div>
                </div>
            </div>
	        <div style="clear:both;"></div>
        </div>
    </div>
</div>